
p{
	font-family: 'Inconsolata', monospace;
	font-size: 17px;
	border: 2px dotted red;
	padding: 10px;
}
button	{
	background-color: #177CF6;
	width: 60px;
	height: 30px;
	border: none;
}
.modall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  -webkit-animation-name: colorr;
          animation-name: colorr;
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }
  .modall-content {
    background-color: #fff;
    padding: 30px;
    max-width: 800px;
    margin: 30px;
    height: 80%;
    border-radius: 25px;
    position: relative;
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }
    .modall-content form {
      padding: 10px;
      padding: 30px; }
      .modall-content form p {
        text-align: center;
        margin: 10px;
        font-weight: 700; }
      .modall-content form input {
        margin-bottom: 30px;
        width: 80%;
        height: 50px;
        margin-left: 8%; }
      .modall-content form h2 {
        text-align: center;
        font-family: sans-serif;
        font-size: 30px;
        font-weight: 700; }
      .modall-content form h4 {
        text-align: center;
        margin-bottom: 30px;
        font-family: sans-serif;
        font-size: 24px;}
.btn-close {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 2%;
  left: 94%; }

.btn-close:focus {
  text-decoration: none; }

.hide {
  display: none ; 
}

@-webkit-keyframes fade {
  from {
    top: -700px; }
  to {
    top: 0; } }

@keyframes fade {
  from {
    top: -700px; }
  to {
    top: 0; } }

@-webkit-keyframes colorr {
  from {
    background-color: rgba(0, 0, 0, 0); }
  to {
    background-color: rgba(0, 0, 0, 0.5); } }

@keyframes colorr {
  from {
    background-color: rgba(0, 0, 0, 0); }
  to {
    background-color: rgba(0, 0, 0, 0.5); } }

.imag {
	max-height: 900px;
	max-width: 700px;
   }